:root {

	// COLORS
	--brand-primary: #D23B19;
	--brand-secondary: #010000;
	--brand-tertier: #fff;
	--font-primary: 'Work Sans', sans-serif;
	--font-secondary: 'Raleway', sans-serif;
	--gutter: 2rem;
  	background-color: var(--brand-primary);
  	color: var(--brand-tertier);
  	height: 100vh;
  	font-family: var(--font-primary);
  	font-size: 62.5%;
}

* {

	margin: 0;
  	padding: 0;
  	outline: none;

}


.slide-wrap {
		
	display: grid;
	grid-auto-rows: min-content;
	grid-gap: var(--gutter);
	grid-template-columns: repeat(12,1fr);	
	height: calc(100vh - 80px);	
	padding: 0 3rem;

}

.slide {

	grid-column: 1 /span 12;
	padding-top: 10.9rem;

	&-intro {

		grid-column: 6 / 12;		

		&--left {

			grid-column: 1 / 6;
		
		}		

	}

	&--full {

		display: flex;
		flex-wrap: wrap;

	}

	&--left {

		grid-column: 1/ 6;

	}

	&--right {

		grid-column: 7/ 13;

	}

}

.container {

	border: 10px solid #fff;	
	max-width: 640px;
	padding: 4rem; 

}

.footer {
	
	align-items: center;
	display: flex;
	height: 80px;
	justify-content: center;
	grid-column: 1 / span 12;	

}

// TYPOGRAPHY

.headline-1 {

	font-size: 9.6rem;
	line-height: 0.95;
	margin-bottom: 9rem;

}

.headline-2 {

	font-size: 7.6rem;
	line-height: 0.95;
	margin-bottom: 7rem;
	width: 100%;

}

.subline {
	
	display: block;
	font-family: var(--font-secondary);
	font-size: 2rem;
	font-weight: 100;

}

.paragraph {
	
	font-size: 3.6rem;
	line-height: 1.15;
	margin-bottom: 3rem;

	&--small {

		font-size: 1.6rem;

	}

}

.quote {
	
	font-family: var(--font-secondary);
	font-size:3.6rem;
	margin: var(--gutter) var(--gutter) var(--gutter) 0;
	max-width: 640px;
	padding: 3rem;
	transform: rotate(-3deg);	

	&-source {
		color: var(--brand-secondary); 
		text-decoration: none;
	}

}	

.link {

	color: var(--brand-tertier);
	transition: 100ms ease-out color;

	&:hover {
		color: var(--brand-secondary);
	}

}

.list {

	list-style: none;
	font-size: 3.6rem;

	> .list-item {

		margin-bottom: 2rem;
		position: relative;

		&:after {

			border-bottom: 10px dashed #fff;
			content: '';
			display: block;			
			height: 0px;
			position: absolute;
			top: 1.5rem;
			width: 100%;
			z-index: -1;

		}

		.list {

			display: block;
			font-size: 1.8rem;

			> .list-item {
				margin: 0.5rem;
			}

			> .list-item:after {
				display: none;
			}
		}

	}

	&-itemText {

		background: var(--brand-primary);
		padding-right: 2rem;

	}	

}
